[submodule "auth/crowd"]
	path = auth/crowd
	url = https://github.com/OCHININC/ella-auth-crowd.git
[submodule "mod/zoom"]
	path = mod/zoom
	url = https://github.com/ncstate-delta/moodle-mod_zoom.git
[submodule "mod/questionnaire"]
	path = mod/questionnaire
	url = https://github.com/PoetOS/moodle-mod_questionnaire.git
[submodule "availability/badge"]
	path = availability/badge
	url = https://github.com/tlock/moodle-availability_badge.git
[submodule "local/learningtools"]
	path = local/learningtools
	url = https://github.com/bdecentgmbh/moodle-local_learningtools
[submodule "report/customsql"]
	path = report/customsql
	url = https://github.com/moodleou/moodle-report_customsql.git
[submodule "mod/customcert"]
	path = mod/customcert
	url = https://github.com/mdjnelson/moodle-mod_customcert.git
[submodule "local/analytics"]
	path = local/analytics
	url = https://github.com/mikeaveli007/moodle-local_analytics.git
[submodule "mod/pulse"]
	path = mod/pulse
	url = https://github.com/bdecentgmbh/moodle-mod_pulse.git
[submodule "enrol/autoenrol"]
	path = enrol/autoenrol
	url = https://github.com/bobopinna/moodle-enrol_autoenrol
[submodule "auth/oidc"]
	path = auth/oidc
	url = https://github.com/OCHININC/moodle-auth_oidc.git
[submodule "local/o365"]
	path = local/o365
	url = https://github.com/OCHININC/ella-local_o365.git
[submodule "admin/tool/uploadactivitycompletions"]
	path = admin/tool/uploadactivitycompletions
	url = https://github.com/mikeaveli007/moodle-tool_uploadactivitycompletions.git
[submodule "block/completion_progress"]
	path = blocks/completion_progress
	url = https://github.com/jonof/moodle-block_completion_progress.git
[submodule "blocks/grade_me"]
	path = blocks/grade_me
	url = https://github.com/remotelearner/moodle-block_grade_me.git
